
    <div id="profile" class="content">
        
        <div>
            <!-- <h1 class="name">Working on it</h1> -->
            <a href="https://github.com/Isaiah-Ambi" alt="github">
                <img class="contact" src="public/images/social-github-svgrepo-com.svg">
            </a>
            <a href="https://www.linkedin.com/in/isaiah-ambi-1b2010236?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" alt="linkedin">
                <img class="contact" src="public/images/social-linkedin-svgrepo-com.svg">
            </a>
            <a href="https://x.com/Iziah_Ambison?s=09" alt="twitter/x"><img class="contact" src="public/images/social-twitter-svgrepo-com (2).svg"></a>
            <!-- <a href="#"><img class="contact" src="public/images/social-email-svgrepo-com (1).svg"></a> -->
        </div>
    </div>
