

    <div id="profile" class="content">
        
        <div>
            <h1 class="name">Isaiah Ambi</h1>
            <h1>Web Developer & Aspiring Video Game Composer<span>(for now)</span></h1>
            <!-- <p>Jos, Nigeria</p> -->
            
                <span> Python | Django | Html | Css | Javascript | Node JS | Express JS | Mongoose JS | MongoDb ...</span>
            
        </div>
        
    </div>
