
    <div id="profile">
        <div class="skills_top">
    
            <span>Python</span>
            <span>Django</span>
            <span>Html</span>
            <span>Css</span>
            <span>Javascript</span>
            <span>Node JS</span>
            <span>Express JS</span>
            <span>MongoDb</span>
        
        </div>
    </div>
